# Server Config
PORT=8000
SERVER_DOMAIN=your_fallback_domain
NODE_ENV=production

# Teler Config
TELER_API_KEY=your_teler_api_key
TELER_SAMPLE_RATE=8k
SECRET=your_secret # Optional

# Elevenlabs Config
ELEVENLABS_WS_URL=wss://api.elevenlabs.io/v1/convai/conversation?agent_id=your_agent_id

# NGROK Config
NGROK_AUTHTOKEN=your_ngrok_auth_token